@font-face {
    font-family: 'CircularStd-Book';
    src: url('circularstd-book.eot');
    src: url('circularstd-book.eot') format('embedded-opentype'),
         url('circularstd-book.woff2') format('woff2'),
         url('circularstd-book.woff') format('woff'),
         url('circularstd-book.ttf') format('truetype'),
         url('circularstd-book.svg#CircularStdBookRegular') format('svg');
}
