@import "http://fonts.googleapis.com/css?family=Cutive+Mono|PT+Mono|Source+Code+Pro:200,300,400,500,600,700,900|Inconsolata:400,700|Karla:400,400italic,700,700italic";

@import "flexboxgrid.css";
@import "normalize.css";

@import "../_fonts/CircularStd-Book/style.css";
@import "../_fonts/CircularStd-Bold/style.css";
@import "../_fonts/CircularStd-BookItalic/style.css";

body {
	font-family:/* Brown-Regular,  */CircularStd-Book,Apercu,Karla;
	font-size:16px;
	font-weight:300;
	background:url() center center fixed;
	background-size:cover;
	background-image:url();
	background-size:cover;
	color: #212121;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a.underlined {
	padding-bottom: 3px;
	border-bottom: solid #212121 2px;
}

a.underlined.negative {
	color: white;
	border-color: white;
}

p {
	line-height:200%;
	padding:0;
	margin:0;
	padding-bottom:1em;
}

img {
	max-width:100%
}

.line div {

	position:relative;
	/* Chrome, Safari, Opera */
	-webkit-animation-name: myfirst;
	-webkit-animation-duration:5s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
	/* Standard syntax */
	animation-name:myfirst;
	animation-duration:.5s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	}
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes myfirst
	{
		0%   {background: #7d549e; left:0px; top:0px;}
		25%  {background: #0d99f2; left:0px; top:0px;}
		50%  {background: #4ac773; left:0px; top:0px;}
		75%  {background: #fad129; left:0px; top:0px;}
		100% {background: #f24a33; left:0px; top:0px;}
	}
	
	/* Standard syntax */
	@keyframes myfirst
	{
		0%   {background: #16a085; left:0px; top:0px;}
		25%  {background: #1abc9c; left:0px; top:0px;}
		50%  {background: #9b59b6; left:0px; top:0px;}
		75%  {background: #8e44ad; left:0px; top:0px;}
		100% {background: #16a085; left:0px; top:0px;}
	}

/* HEADER */

header {
	top: 10vw;
	left: 10vw;
	position: absolute;
	width:15%;
	z-index: 999 !important;
}

header .logo {
	width: 100%;
	overflow: auto;
	margin-bottom: 5vw;
	display: block;
}

header .logo:hover {
	opacity: .4;
}

header .logo img {
	height:3.5rem;
}

header section {
	margin-top:0
}

header div {
	float:left
}

header span {
	border:none;
	top:2.5vw
}

header span img {
	width:18px;
	top:30px
}



header nav.desktop {
	width: 100%;
	overflow: auto;
}

header .row:nth-child(1) {
    padding-bottom: 0px;
}

header nav.desktop ul,header nav.desktop li {
	list-style:none;
	padding:0;
	margin:0;
	width: 100%;
	display: block;
}

header nav.desktop li {
   padding: .75rem 0;
}

header nav.desktop li a {
	color:#999;
	width: 100%;
	display: block;
}

header nav.desktop li a.current {
	opacity: 1;
	color: #212121;
}

header nav.desktop .line {
	width: 100%;
	margin-bottom: 4.75rem;
}
header nav.desktop .line div {

}

header nav.mobile {
	width: 100%;
	overflow: auto;
	position: relative;
	display: none;
}

header nav.mobile ul, header nav.mobile li {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: auto;
	display: block;
}

header nav.mobile li {
	float: left;
	width: 25%;
	
}

header nav.mobile li a {
	width: 100%;
	padding: 15px 0px;
	display: block;
	position: relative;

}
/*
header nav.desktop ul li a {
	display: none;
}
*/

.row {
	width:100%;
	padding:5% 10%;
	margin-top:-.5rem;
	
}

header .name {
}

h1,h2,h3 {
	line-height:145%;
	font-family:CircularStd-Bold;
	font-weight:normal;
/* 	letter-spacing:1px; */
	display:inline;
	display:block;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size:4.5vw;
	margin-top: -.17em;
}

h2 {
	font-size:3vw
}

h3 {
	font-size:1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
	line-height: 150%;
}

h1 a {
	-webkit-background-clip:border-box;
	-webkit-background-origin:padding-box;
	-webkit-background-size:2px 2px;
	-webkit-font-smoothing:antialiased;
	background-attachment:scroll;
	background-clip:border-box;
	background-color:rgba(0,0,0,0);
	background-image:linear-gradient(rgba(0,0,0,0) 75%,#CCC 75%);
	background-origin:padding-box;
	background-position:0 95%;
	background-repeat:repeat-x;
	background-size:2px 5px;
	cursor:auto;
	display:inline;
	font-style:normal;
	font-weight:400;
	height:auto;
	letter-spacing:.15999999642372px;
	line-height:18.8571434021px;
	text-decoration:none;
	visibility:visible;
	width:auto;
	word-wrap:break-word
}

h1 a:hover {
	color:#ccc
}

/*
span {
	font-size:1em;
	font-weight:400;
	padding-bottom:3px;
	border-bottom:1px solid #000;
	position:relative;
	margin-left:-11vw;
	top:1.7vw
}
*/

.byline {
	opacity:.4
}

.line {
	margin-bottom: 7vw;
}

.line div {
	height: 10px;
	width: 65px;
	display: block;
	overflow: auto;
}

@media screen and (max-width: 400px) {

	body {
		font-size: 14px;
	}
	p {
		font-size: 1em;
	}
	
	a.underlined {
		padding-bottom: 3px;
		border-bottom: solid #212121 .15em;
	}
	
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1em;
		letter-spacing: .04em;
	}
	header {
		width: 85%;
	}
	header .logo {
		margin-bottom: 1.5rem;
	}
	header .logo img {
		height:2.5rem;
		
	}
	header nav.desktop {
		display: none;
	}
	header nav.mobile {
		display: block;
	}

}




/* INTRO */

section {
	overflow: visible;
	display: block;
}

.home section.intro {
	min-height: 90vh;
	border-bottom: 2px solid #222;
	margin-top: -9.5rem;
}

section.process {
	min-height: 110vh;
	background: #212121;
	color: white;
}

section.process h2 {
	color: white;
	margin-bottom: 2rem;
	font-family: CircularStd-Book;
	font-size: 25px;
}

section.process .row div {
	margin-top: 10vw;
}

.intro h1 {
/*	margin-top: .75rem;*/
}

.content {
	position: relative;
	margin-top: 15.4%;
}
.content .row {
/* 	background: green; */
}

.illo.home {
	position: absolute;
	width: 59.7%;
	top: 16.6%;
	left: 5vw;
}

.illo_home img {
	width: 100%;
}

@media screen and (max-width: 400px) {

	.intro .col-xs-9 {
		margin-left: 0px;
	/*
	width: 100%;
		flex-basis: 100%;
		max-width: 100%;
*/
	}
	
	.content {
		margin-top: 55%;
	}
}



/* NEWS  */

.row.news {
	margin-top: 5vw;
	margin-bottom:5vw;
}

.seemore {
	margin-top: 5vw;
	opacity: .4;
}

.news_preview {
	margin-top: 5rem;
}

.news_preview .row {
	padding: 0;
}

.news_preview .entry {
/* 	max-width: 45%; */
	overflow: auto;
	display: block;
	cursor: pointer;
}

.news_preview .entry h3, .news_preview .entry p {
	max-width: 90%;
}

.news h3 {
/*	min-height: 2rem;
*/	margin-bottom: 1rem;
}

.news.index .news_preview .entry {
	margin-bottom: 4em;
}

.area_title {
	width: 100%; 
	display: block;
	overflow: auto;
}

.news_index {
	padding-left: 0px;
}

.news .entry.thumb:hover {
/*	opacity: .4;
*/	cursor: pointer;

}

.news .entry p {
	color: #999999;
}

.news .entry h1 {
	margin-bottom: 3rem;
	margin-top: 2rem;
}

.news .entry img {
	width: 100%;
	margin: 2rem 0 3rem 0;
}

.news .entry ul, .news .entry ol { 
	margin-bottom: 2rem;
	margin-left: 1rem;
	opacity: .4;
}

.news .entry li {
	line-height: 200%;
}

.news .entry blockquote {
	font-size: 2rem;
	font-family: CircularStd-BookItalic;
	line-height: 150%;
	margin-bottom: 2.5rem;
	margin-left: 2rem;
}

.news .entry .sharing {
	width: 100%;
}

.news .entry .sharing div {
	width: 110px;
	float: left;
	height: 25px;
}

.news .row .row {
	padding: 0px;
}

.news .area_title h1 {
	margin-bottom: 3rem;
}

.news .row .row .entry {
	margin: 2rem 0;
}

@media screen and (max-width: 400px) {

	.news_preview {
		margin-top: 1rem;
	}
	.news_preview .entry {
		max-width: 100%;
		margin-bottom: 2rem;
	}
	
	.news_preview h3 {
		height: 2.5rem;
	}

}

/* CONTACT */

.contact_area {
	background: #212121;
	color: #fff;
	text-align: center;
	padding: 15vw 0;
}

/* FOOTER  */

footer {
	padding-top: 3%;
	margin-top: 5vw;
	margin-bottom: 10vw;
}

footer .line {
/* 	margin-bottom: 1rem; */
}

footer .social {
	margin-top: .5em;
	display: block;
}

footer .social a {
	width:25px;
	height:25px;
	display:block;
	text-indent:-9999px;
	float:left;
	margin-right:10px;
	background:url(../_img/social_icons.svg) no-repeat top left;
	background-size:cover
}

footer .social a:hover {
	opacity:.6
}

footer .social a.facebook {
	background-position-x:0
}

footer .social a.twitter {
	background-position-x:50%
}

footer .social a.linkedin {
	background-position-x:100%;
/* 	display: none; */
}

.copyright {
	opacity: .4;
}

/* WORK */

.work_header {
	margin-top: 7vw;
}

.work_cont {
	padding: 0 10vw 7vw 10vw;
	overflow: auto;
	display: block;
	margin-top: 0rem;
}

.home .work_cont {
	margin-top: -15rem;
}

.work_thumb {
	width:100%;
	position:relative;
	float:left;
	overflow:hidden;
	height:auto;
	display:block;
	cursor:pointer;
  	margin-top: -10vw;
}

.work_thumb a {
	color: white;
}

.work_thumb img {
	width:100%;
/* overflow: auto; */
/* position: absolute; */
	top:0;
	z-index:99999!important;
	opacity:1
}

.work_thumb .inside {
	width:100%;
	height:100%;
	background:rgba(0,0,0,.1);
	display:block;
	overflow:visible;
	position:absolute;
	top:0;
	z-index:999!important;
	opacity:0;
	transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-webkit-transition:opacity .25s ease-in-out
}

.work_thumb .inside p { 
	color:#fff;
	display:block; 
	padding:0% 10% 5% 10%;
	line-height:140%;
	max-width: 50%;
  
}

.work_thumb .inside p.title {
	padding: 7% 0 5% 10%;
	font-size: 2em;
	font-family:CircularStd-Bold;
	font-weight:normal;
}


.work_thumb:nth-child(1) {
  margin-top: 0px;
}

.work_thumb:nth-child(odd) {
  float: right;
  	width: 60%;
}

.work_thumb:nth-child(even) {
  float: left; 
  width: 50%;
}

.work_filter {
	widows: 100%;
/* 	background: #f2f2f2; */
	border-top: 1px solid #ccc;
	padding-top: 3rem;
	margin-top: 2.5rem;
}


.work_filter ul, 
.work_filter ul li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

.work_filter ul li a {
	margin-right: 1rem;
	opacity: .4;
}

.work_filter ul li a.current {
	opacity: 1;
	padding-bottom: 3px;
	border-bottom: solid #212121 2px;
}

.work.detail h1 {
	margin-bottom: 3rem;
	margin-top: 2rem;
}

.work .feat_image {

	width: 120%;
	max-width: 10000000%;
	margin: 3rem 0 3rem -20vw;
}

/*.ruler {
	width: 100vw;
	height: 1px;
	position: absolute;
	left: 0;
	top: 16.3rem;
	background: lime;
	z-index: 9999999999;
}

.ruler.two {
	width: 1px;
	height: 1000000vw;
	top: 0px;
	left: 30vw;
}
*/

/*.goodnav {
	width: 100%;
	height: 54px;
	background: url(../_img/nav.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left:0;
	top: 0;
	z-index: 9999999999;
}*/

.back_button {
	opacity: .4;
	margin-top: 2px;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
