@font-face {
    font-family: 'CircularStd-Bold';
    src: url('circularstd-bold.eot');
    src: url('circularstd-bold.eot') format('embedded-opentype'),
         url('circularstd-bold.woff2') format('woff2'),
         url('circularstd-bold.woff') format('woff'),
         url('circularstd-bold.ttf') format('truetype'),
         url('circularstd-bold.svg#CircularStdBoldRegular') format('svg');
}
