@font-face {
    font-family: 'CircularStd-BookItalic';
    src: url('circularstd-bookitalic.eot');
    src: url('circularstd-bookitalic.eot') format('embedded-opentype'),
         url('circularstd-bookitalic.woff2') format('woff2'),
         url('circularstd-bookitalic.woff') format('woff'),
         url('circularstd-bookitalic.ttf') format('truetype'),
         url('circularstd-bookitalic.svg#CircularStdBookItalicRegular') format('svg');
}
